<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/pet_shop_maqueta/styles/ejercicioCSS.css">
</head>
<body>
    
    <!--1er desafío-->
    <div class="">Soy el div 1</div>
    <div>Soy el div 2</div>
    <div>Soy el div 3</div>
    <div>Soy el div 4</div>
    <div>Soy el div 5</div>
    <div>Soy el div 6</div>
    <div>Soy el div 7</div>
    <div>Soy el div 8</div>
    <div>Soy el div 9</div>
    <div>Soy el div 10</div>

    <!--2do desafío-->
    <div>Soy el div 1</div>
    <div>Soy el div 2</div>
    <div class="card card1">Soy card-1</div>
    <div>Soy el div 3</div>
    <div>Soy el div 4</div>
    <div class="card">Soy solo card</div>
    <div>Soy el div 5</div>
    <div>Soy el div 6</div>
    <div>Soy el div 7</div>
    <div class="card card2">Soy card-2</div>
    <div>Soy el div 8</div>
    <div>Soy el div 9</div>
    <div>Soy el div 10</div>

    <!--3er desafío-->
    <button>Soy el button 1</button>
    <button>Soy el button 2</button>
    <button>Soy el button 3</button>
    <button>Soy el button 4</button>
    <button>Soy el button 5</button>
    <button>Soy el button 6</button>
    <button>Soy el button 7</button>
    <button>Soy el button 8</button>
    <button>Soy el button 9</button>
    <button id="eliminar">¡Elimínalo!!!!!!!!</button>

    <!--4to desafío-->
    <a href="https://platzi.com">Ir a platzi</a>
    <a href="#">Soy un enlace 1</a>
    <a href="#">Soy un enlace 2</a>
    <a href="#">Soy un enlace 3</a>
    <a href="https://platzi.com">Ir a platzi</a>
    <a href="#">Soy un enlace 5</a>
    <a href="#">Soy un enlace 6</a>
    <a href="#">Soy un enlace 7</a>
    <a href="https://platzi.com">Ir a platzi</a>
    <a href="#">Soy un enlace 8</a>
    <a href="#">Soy un enlace 9</a>

    <!--5to desafío-->
    <div>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div></div>
      <div>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div></div>
      <div>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div></div>

</body>
</html>