<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <!--1er desafío--><!--No importa la profundidad de los obejetos-->
    <nav>
        <ul>
          <li>Home</li>
          <li>Más opciones</li>
        </ul>
      </nav>
      <div class="container">
        <ul>
          <li>Lista 1</li>
          <li>Lista 2</li>
          <li>Lista 3</li>
          <li>Lista 4</li>
          <li>Lista 5</li>
          <li>Lista 6</li>
          <li>Lista 7</li>
          <li>Lista 8</li>
          <li>Lista 9</li>
          <li>Lista 10</li>
        </ul>
      </div>
      <footer>
        <ul>
          <li>Conoce la empresa</li>
          <li>Más actividades</li>
          <li>Acerca de nosotros</li>
        </ul>
      </footer>

      <!--2do desafío--><!--Solo los hijos de primera profundidad-->
      <div class="container">
        <p>Soy un hijo directo</p>
        <p>Soy un hijo directo</p>
        <p>Soy un hijo directo</p>
        <p>Soy un hijo directo</p>
        <p>Soy un hijo directo</p>
        <p>Soy un hijo directo</p>
        <p>Soy un hijo directo</p>
        <p>Soy un hijo directo</p>
        <p>Soy un hijo directo</p>
        <p>Soy un hijo directo</p>
        <div>
          <p>Soy un hijo indirecto o ñeto</p>
          <p>Soy un hijo indirecto o ñeto</p>
          <p>Soy un hijo indirecto o ñeto</p>
          <p>Soy un hijo indirecto o ñeto</p>
          <p>Soy un hijo indirecto o ñeto</p>
        </div>
      </div>
      
    <!--3er desafío--><!--Comparten el mismo padre y está situado inmediatamente hacia abajo de otro elemento-->
    <p>Soy otro párrafo</p>
    <div>Soy un div</div>
    <p>Soy un párrafo adyacente a div</p>
    <p>Soy otro párrafo</p>
    <p>Soy otro párrafo</p>
    <hr/>
    <p>Soy otro párrafo</p>
    <div>Soy un div</div>
    <p>Soy un párrafo adyacente a div</p>
    <p>Soy otro párrafo</p>
    <p>Soy otro párrafo</p>
    <hr/>
    <p>Soy otro párrafo</p>
    <div>Soy un div</div>
    <p>Soy un párrafo adyacente a div</p>
    <p>Soy otro párrafo</p>
    <p>Soy otro párrafo</p>
    <hr/>
    <p>Soy otro párrafo</p>
    <div>Soy un div</div>
    <p>Soy un párrafo adyacente a div</p>
    <p>Soy otro párrafo</p>
    <p>Soy otro párrafo</p>
    <hr/>

    <!--4to desafío--><!--comparten el mismo padre y están situados hacia abajo de otro elemento-->
    <div class="container">
        <p>Soy otro párrafo</p>
        <div>Soy un div</div>
        <p>Soy un párrafo hermano de div</p>
        <p>Soy un párrafo hermano de div</p>
        <p>Soy un párrafo hermano de div</p>
      </div>
      <hr/>
</body>
</html>