<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style-reto26-07.css">
</head>
<body>
    <header>
        <section class="barraInfo">
            <div class="barraInfo__cuadrado">
                <img src="https://img.icons8.com/?size=100&id=fkiVxojF7Mkw&format=png&color=b149fe">
            </div>
            <div class="barraInfo__circulo">
                <img src="https://img.icons8.com/?size=100&id=78599&format=png&color=b149fe">
            </div>
            <div class="barraInfo__triangulo">
                <img src="https://img.icons8.com/?size=100&id=93961&format=png&color=b149fe">
            </div>
        </section>
        <section class="header">
            <div class="header__left">
            <div class="header__left__menu">
                <img src="https://img.icons8.com/?size=100&id=84026&format=png&color=fffffa">
            </div>
            <div class="header__left__pageTitle">
                <h1>Page title</h1>
            </div>
        </div>
            <div class="header__right">
                <div class="header__right__corazon">
                    <img src="https://img.icons8.com/?size=100&id=85339&format=png&color=fffffa">
                </div>
                <div class="header__right__buscador">
                    <img src="https://img.icons8.com/?size=100&id=XU3XKgdpT0qG&format=png&color=fffffa">
                </div>
                <div class="header__right__settings">
                    <img src="https://img.icons8.com/?size=100&id=84119&format=png&color=fffffa">
                </div>
            </div>
        </section>
    </header>
</body>
</html>